/* Custom Styles */
body {
  font-family: "Inter", sans-serif;
}

/* Fonts */

/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/inter-v3-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v3-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v3-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v3-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v3-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v3-latin-300.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/inter-v3-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v3-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v3-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v3-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v3-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v3-latin-500.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter-v3-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v3-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v3-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v3-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v3-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v3-latin-700.svg#Inter")
      format("svg"); /* Legacy iOS */
}

/* Multi-level navigation links */
.navlinks-container {
  position: relative;
}
.navlinks-parent:after {
  content: " \25BC";
}
.navlinks-children {
  width: 100%;
  display: none;
  word-break: break-word;
}
.navlinks-container .navlinks-children a {
  display: block;
  padding: 10px;
  padding-left: 30px;
  background: #1F2937;
  text-decoration: none !important;
  border-width: 0;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  .navlinks-container.show-children {
  }
  .navlinks-container.show-children .navlinks-children {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .navlinks-container {
    text-align: center;
  }
  .navlinks-container:hover {
  }
  .navlinks-container:hover .navlinks-children {
    display: block;
  }
  .navlinks-children {
    position: absolute;
  }
  .navlinks-container .navlinks-children a {
    padding-left: 10px;
    border: 1px solid #111827;
    border-width: 0 1px 1px 1px;
  }
}
