<a class="p-2" href="{{ .Permalink }}">
  {{ if .Params.thumbnail }}
  <div class="relative">
    <img src="{{ .Params.thumbnail }}" alt="{{ .Params.title }}" class="rounded-lg shadow-sm w-full h-52 object-cover" />
    <div class="absolute top-4 right-4 rounded shadow bg-white text-gray-900 dark:bg-gray-900 dark:text-white text-sm px-2 py-0.5">
      {{ .Params.date.Format "Jan 2, 06" }}
    </div>
  </div>
  {{ end }}
  <div class="my-2 text-xl font-semibold">{{ .Params.title }}</div>
  <div class="">{{ .Params.description }}</div>
</a>