<footer>

</footer>

{{ if .Site.Params.darkModeToggle }}
<script>
  // On page load or when changing themes
  const darkmode = document.querySelector('.toggle-dark-mode');
  function toggleDarkMode() {
    if (document.documentElement.classList.contains('dark')) {
      document.documentElement.classList.remove('dark')
      localStorage.setItem('darkmode', 'light')
    } else {
      document.documentElement.classList.add('dark')
      localStorage.setItem('darkmode', 'dark')
    }
  }
  if (darkmode) {
    darkmode.addEventListener('click', toggleDarkMode);
  }

  const isDark = localStorage.getItem('darkmode');
  if(isDark && isDark === 'dark') {
    toggleDarkMode();
  }
</script>
{{ end }}